@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #3a80e2;
    margin-top: 10%;
}

header h1{
    text-align: center;
    padding: 20px;
    font-size: 3em;
    color: white;
}

section{
    background-color: white;
    width: 450px;
    height: 200px;
    display: block;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.281);
}

section input {
    width: 100px;
}

section > div > p {
    padding: 10px;
}

footer p{
    text-align: center;
    padding: 30px;
    color: white;
    font-size: 1.2em;
}