@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #efd459;
}

header h1{
    text-align: center;
    padding: 20px;
    font-size: 3em;
    color: white;
}

section{
    background-color: white;
    width: 80vw;
    height: 260px;
    display: block;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.281);
}

section > div > p {
    padding: 25px;
    text-align: center;
    font-size: 1.3em;
}

section img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

footer p{
    text-align: center;
    padding: 30px;
    color: white;
    font-size: 1.2em;
}