@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #1e5eb8;
    font-size: 18px;
}

header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2em;
    text-align: center;
    padding: 20px;
    color: white;
}

section{
    padding: 10px;
    background-color: white;
    width: 80vw;
    display: block;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.281);
}

section p {
    padding: 10px 0px 10px 0px;
}

section select{
    width: 160px;
    padding: 5px;
}

input {
    padding: 5px;
}

footer p{
    text-align: center;
    padding: 30px;
    color: white;
    font-size: 1.2em;
}